/**
 * Custom styles for CL Walkerton.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700');

/* OVERRIDES */

.col-sm-12 {
	padding-left: 0;
	padding-right: 0;
}  	

body {
	padding-top: 40px;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	color: #039BE5;
}

a:hover {
	text-decoration: underline;
}

.page-header {
    padding-bottom: 9px;
    margin: 0 0 20px;
    background: rgba(67,160,71,1);
    color: white;
    padding: 20px 15px;
}
.highlighted {
	margin-top: -25px;
}
article[about="/node/1"] {
	display: none;
}

/* HEADER */

.logo img {
	width: 215px;
}

.navbar {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.navbar-nav {
	float: right;
    margin: 15px 0 0;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #2d2d2d;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.navbar-default .navbar-nav>li>a.is-active {
    color: #039BE5;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: none;
    color: #039BE5;
}
.navbar-nav>li:last-child a{
	background-color: #E91E63;
    color: #ffffff;
    margin-left: 15px;
    transition: background-color 0.2s ease;
}

.navbar-nav>li:last-child a:hover {
	background-color: #C2185B;
    color: #ffffff;	
}
.navbar-nav>li:last-child a.is-active, .navbar-nav>li:last-child a.is-active:hover {
	background-color: #E91E63;
    color: #ffffff;
}
.dropdown-menu>li>a {
    display: block;
    font-weight: 600;
    color: #2d2d2d;
    white-space: nowrap;
    padding: 14px 16px;
    font-size: 14px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	background-color: #039BE5;
}

/* Slider */
.jssora01l, .jssora01r, .jssora10l, .jssora10r {
	display: block !important;
	top: 170px !important;
}
.view-id-homepage_slider img {
	width: 100% !important;
    height: auto !important;
}
.view-id-homepage_slider .views-field-body {
	position: absolute;
    top: 22%;
    left: 10%;
    font-size: 21px;
    color: #fff;
    background: rgba(0,0,0,.4);
    max-width: 600px;
    padding: 5px 15px;
}
.view-id-homepage_slider .views-field-title {
	position: absolute;
    top: 12%;
    left: 10%;
    color: #fff;
    background-color: rgba(0,0,0,.4);
    font-size: 29px;
    max-width: 600px;
    padding: 5px 15px;
}
.jssor-slider-container {
	height: 400px !important;
}

/* Homepage Article */
.block-views-blockhomepage-article-block-1 {
	margin-top: 15px;
	position: relative;
}
.block-views-blockhomepage-article-block-1 h2.block-title {
    font-size: 21px;
    font-weight: 600;
    color: #333;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 5px;
}
.homepage-article-right {
    float: right;
    width: calc(50% - 15px);
    margin-left: 15px;
}
.homepage-article-left {
	float: left;
	width: 50%;
}
.view-homepage-article .views-field-title, .view-news-articles .views-field-title {
	float: left;
	width: 100%;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 15px;
}
.homepage-article-right img {
	margin: auto;
}
.view-homepage-article .views-field-created, .view-news-articles .views-field-created {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    color: rgba(0,0,0,.6);
}
.view-homepage-article .views-field-body, .view-news-articles .views-field-body {
	line-height: 22px;
}
.view-homepage-article .views-field-nothing-1 {
    position: absolute;
    top: 21px;
    right: 0;
}
.view-homepage-article .views-field-nothing-1 a {
    padding: 5px 15px;
    background: #039BE5;
    color: #fff;
}

/* Homepage Callouts */
.block-views-blockhomepage-callouts-block-1 {
	margin-top: 25px;
	margin-bottom: 25px;
}
.view-homepage-callouts .callout-5, .view-homepage-callouts .callout-6 {
    float: left;
    width: calc(25% - 15px);
    margin-right: 15px;
}
.view-homepage-callouts .callout-7, .view-homepage-callouts .callout-8 {
    float: left;
    width: calc(25% - 15px);
    margin-left: 15px;
}
.view-homepage-callouts .views-field-title a{
	color: #ffffff;
    width: 100%;
    display: block;
    padding: 84px 15px 15px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
}
.view-homepage-callouts .views-field-title a:hover {
	text-decoration: none;
}
.view-homepage-callouts .callout-5 .views-field-title a {
	background: rgba(3,155,229,1);
}
.view-homepage-callouts .callout-5 .views-field-title a:hover {
	background: rgba(3,155,229,.8);
}
.view-homepage-callouts .callout-6 .views-field-title a {
	background: rgba(67,160,71,1);
}
.view-homepage-callouts .callout-6 .views-field-title a:hover {
	background: rgba(67,160,71,.8);
}
.view-homepage-callouts .callout-7 .views-field-title a {
	background: rgba(97,97,97,1);
}
.view-homepage-callouts .callout-7 .views-field-title a:hover {
	background: rgba(97,97,97,.8);
}
.view-homepage-callouts .callout-8 .views-field-title a {
	background: rgba(239,108,0,1);
}
.view-homepage-callouts .callout-8 .views-field-title a:hover {
	background: rgba(239,108,0,.8);
}
.view-homepage-callouts .views-field-field-su {
	font-size: 16px;
	margin-top: 15px;
}
.view-homepage-callouts .views-field-body {
	padding: 15px 0;
}

#block-walkerton-inspireblock {
	width: calc(50% - 7px);
	float: left;
	background: rgba(3,155,229,1);
    padding: 11px 25px 0;
    height: 129px;
    color: white;
}
#block-walkerton-inspireblock .block-title {
	font-weight: 600;
}
#block-walkerton-inspireblock .field--name-body {
	font-size: 16px;
}
#block-walkerton-p4pbanner {
	float: right;
	width: calc(50% - 7px);
}

#block-walkerton-p4pbanner img {
	width: 100%;
}

/* FOOTER */

footer {
	background: #2d2d2d;
	color: #ffffff;
}

footer h2 {
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 30px;
}

footer a, footer a:hover {
	color: #ffffff;
}

footer .block {
	width: 50%;
	float: left;
}

footer #block-copyright {
	width: 100%;
	margin-bottom: -20px;
}

#block-contactus .field--name-body {
	font-size: 16px;
}

#block-contactus .field--name-body i {
	margin-right: 5px;
}

#block-contactus .field--name-body .fa-facebook-official, #block-contactus .field--name-body .fa-phone {
	font-size: 22px;
}

@media only screen and (max-width: 1199px) {
	.views-field-field-google-address iframe {
		width: 450px;
	}
	footer #block-contactus {
		padding-left: 25px;
	}
	#block-walkerton-inspireblock {
		height: 105px;
	}
	#block-walkerton-inspireblock .field--name-body {
		font-size: 14px;
	}
	#block-walkerton-inspireblock .block-title {
		margin-top: 8px;
    	font-size: 25px;
	}
}

/* SUB PAGES */

.block-views-blockbursary-sidebar-block-1, .block-views-blockmembership-form-block-1, .block-views-blockvision-newsletter-block-1, .block-views-blockfeedback-forms-block-1 {
	float: right;
    width: calc(30% - 15px);
    margin-left: 15px;
    background: #f8f8f8;
    padding: 15px;
}
.block-views-blockbursary-sidebar-block-1 h2, .block-views-blockmembership-form-block-1 h2, .block-views-blockvision-newsletter-block-1 h2, .block-views-blockfeedback-forms-block-1 h2 {
	font-size: 21px;
    margin-top: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

article[about="/bursary"], article[about="/get-involved"], article[about="/mission"],  article[about="/accessibility"] {
	float: left;
	width: 70%;
}
.block-views-blockvision-newsletter-block-1 ul, .block-views-blockfeedback-forms-block-1 ul {
    padding: 0;
    list-style: none;
 }
.view-news-articles .views-row {
    float: left;
    width: 100%;
    margin-bottom: 35px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 35px;
}

.view-news-articles .views-row:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

.page-node-type-article .field--name-field-image {
	padding: 0 15px 10px 0;
}

.page-node-type-page .field--name-field-image {
	margin-bottom: 30px;
}

article[data-history-node-id="14"] .field--name-body {
	float: left;
	width: 50%;
}
article[data-history-node-id="14"] .field--name-field-image {
	float: left;
    width: calc(50% - 20px);
    margin-left: 20px;
}